* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carusel-v2 {   
    display: flex;
    align-items: center;
    justify-content: center;
}
.carusel-v2 .images-list {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position:relative;
}
.images-list__arrow {
    height: 30px;
    width: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
}
.images-list__arrow {
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images-list__arrow {
    cursor: pointer;
    transition: .3s ease;
}
.images-list__arrow:hover {
    background-color: #90c511;
}
.images-list__arrow:first-child{
    margin-bottom: 15px;
}
.images-list__arrow:last-child{
    margin-top: 15px;
}
.images-list__arrow:first-child:after {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-top: 0.3em solid;
    color: #90c511;
    border-right: 0.3em solid;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 5;
  }
  .images-list__arrow:last-child:after {
    content: ' ';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-top: 0.3em solid;
    color: #90c511;
    border-right: 0.3em solid;
    -moz-transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    z-index: 5;
  }
  .images-list__arrow:hover::after{
    color: white;
}
.carusel-v2 .images-list-container {
    display: flex;
    flex-direction: column;
    height: 350px;
    max-height: 407px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0px;
}  
.carusel-v2 .images-list-container::-webkit-scrollbar {
   display: none;
    
  }
.images-list-img {
    width: 40px;
    height: 40px;
    margin: 13px 0;
    background: url("https://c.dns-shop.ru/thumb/st4/fit/0/0/58e7f63a7ebb6fccc44cec2dd6fcb526/df012e460485b18a2b9d4cab568bd51a25a3db67fb23bb5172e6f4739b75db4e.jpg.webp") center no-repeat cover;
    cursor: pointer;
    transition: .3s ease;
}
.images-list-img-container {
    min-width: 50px;
    width: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-left: 3px solid white;
}
.active {
  border-left: 3px solid #90c511;
  border-radius: 1px;
}
.carusel-v2__important-img {
    margin-left: 20px;
    min-width: 400px;
    width: 400px;
    background: url("https://c.dns-shop.ru/thumb/st4/fit/0/0/58e7f63a7ebb6fccc44cec2dd6fcb526/df012e460485b18a2b9d4cab568bd51a25a3db67fb23bb5172e6f4739b75db4e.jpg.webp") center no-repeat;
    background-size: cover;
    cursor: pointer;
}
.carusel-v2 nav {
    display: none;
}
@media screen and (max-width: 560px) {
    .carusel-v2__important-img{
      margin-left: 0px;
    }
    .carusel-v2.nav{
        margin-top: 40px;
    }
    .main-carusel{
        display: none;
    }
    .carusel-v2 {
        flex-direction: column-reverse;
        margin: 10px 10px;
        align-items: center;
        justify-self: center;
    }
    .carusel-v2 .images-list {
        display: flex;
        flex-direction: initial;
    } 
    .carusel-v2 .images-list-container {
        display: flex;
        flex-direction: initial;
        width: 215px;
        max-width: 215px;
        overflow-y: hidden;
        overflow-x: auto;
        height: 60px;
        margin: 0 20px;
    }
    .active {
       border-left: none;
    }
    .images-list-img-container {
        min-width: 60px;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        border: solid 1px #ccc;
        border-radius: 2px;
        padding: 2px;
        margin-right: 10px;
    }
    .images-list-img {
        width: 57px;
    }
    .images-list__arrow:first-child {
        margin-bottom: 0;
        transform: rotate(-90deg);
    }
    .images-list__arrow:last-child {
        margin-top: 0;
        transform: rotate(-90deg);
    }
    .carusel-v2 nav {
        display: -webkit-box;
        justify-content: center;
    }
    .carusel-v2-nav_link {
        width: 50px;
        height: 30px;
        margin-right: 10px;
        border: solid 2px #ccc;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carusel-v2-nav_link:first-child {
        width: 80px;
        height: 30px;
        margin-right: 10px;
        border: solid 2px #ccc;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    .carusel-v2-nav_img {
        width: 20px;
        height: 20px;
    }
    .carusel-v2-nav_link-text {
        color: #000;
       font-size: 7px;
       margin-left: 10px;
       text-decoration: none;
    }
}
@media screen and (max-width: 405px) {
    .carusel-v2__important-img {
    height: auto;
    min-width: 320px;
    width: 320px;
    }
}

.carusel-v2-popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: none;
    align-items: center;
    justify-content: space-between;
}
.carusel-v2-popup-view{
    display: flex;
}
.carusel-v2-exit{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    transition-duration: .2s;
    cursor: pointer;
}
.carusel-v2-exit:hover{
    transform: scale(.85);
}
.carusel-v2-exit > div{
    position: absolute;
    width: 20px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #000;
}
.carusel-v2-exit > div:last-child{
  transform: rotate(-45deg);
}
.carusel-v2-arrow-left, .carusel-v2-arrow-right{
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    color: #000;
    cursor: pointer;
}
.carusel-v2-arrow-left{
    margin-left: 30px;
    border-top: 4px solid;
    border-left: 4px solid;
}
.carusel-v2-arrow-right{
    margin-right: 30px;
    border-bottom: 4px solid;
    border-right: 4px solid;
}
.carusel-v2-popup-img{
    max-width: 400px;
    max-height: 70vh;
}
.carusel-center{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 50px;
}
.carusel-second > .images-list-container{
    flex-direction: row;
    max-width: 45%;
    height: auto;
}
.carusel-second > .images-list-container > .images-list-img-container{
   margin: 0 15px;
   border: none !important;
   border-left: none !important;
} 
.carusel-second > .images-list__arrow{
  margin-bottom: 0px;
  margin-top: 0px;
  transform: rotate(90deg);
}
.carusel-second > .images-list__arrow:first-child{
  margin-left: 15px;
}
.carusel-second > .images-list__arrow:last-child{
  margin-right: 15px;
}
.carusel-second {
    flex-direction: row-reverse;
}
.carusel-second > .images-list-container > .images-list-img-container > .images-list-img{
  height: auto;
}
@media screen and (max-width: 650px){
    .carusel-v2-arrow-left, .carusel-v2-arrow-right{
      display: none;
    }
    .carusel-v2-popup{
      justify-content: center;
    }
    .carusel-v2-popup-img{
      max-width: 360px;
    }
}
